.screen-header {
    display: flex;
    padding: 40px var(--horizontal-space);
    justify-content: space-between;
    align-items: center;
}
.screen-header__title {
    font-size: 28px;
    font-weight: 600;
}
.screen-header__icons span {
    margin-left: 25px;
}
.screen-header__dot {
    background-color: tomato;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    display: flex;
    position: absolute;
    right: 15px;
    top: 60px;
}